NEXT_PUBLIC_SITE_URL=https://www.rovixautomation.com.br
NEXT_PUBLIC_ROVIX_EMAIL=contato.rovix@gmail.com
NEXT_PUBLIC_ROVIX_WHATSAPP=5521998835257
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_CLARITY_ID=
